.git
.gitignore
.env
.env.example
.editorconfig
.phpunit.result.cache
node_modules
vendor
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
bootstrap/cache/*
.idea
.vscode
*.md
!README.md
.DS_Store
Thumbs.db
